<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="Shoko.Server"/>
  </extensions>
  <targets>
    <target name="file" xsi:type="File" fileName="${basedir}/logs/${shortdate}.txt"
            layout="[${shortdate} ${date:format=HH\:mm\:ss\:fff}] ${level}|${stacktrace} ${message}${onexception:\: ${exception:format=tostring}}"/>
    <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss}| --- ${message}${onexception:\: ${exception:format=tostring}}"/>
  </targets>
  <rules>
    <logger name="Microsoft.AspNetCore.*" maxlevel="Info" final="true" /> <!-- Http log spam (blackhole) -->
    <logger name="Quartz*" maxlevel="Error" final="true" /> <!-- Quartz blackhole -->
    <logger name="Shoko.Server.Scheduling.ThreadPooledJobStore" maxlevel="Error" final="true" /> <!-- Quartz blackhole -->
    <logger name="Shoko.Server.API.Authentication.CustomAuthHandler" maxlevel="Info" final="true" /> <!-- Auth log spam (blackhole) -->
    <logger name="*" minlevel="Info" writeTo="file"/>
    <logger name="*" minlevel="Trace" writeTo="console"/>
  </rules>
</nlog>
