<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
        <add assembly="Shoko.Server" />
    </extensions>
    <targets>
        <target name="file" xsi:type="File" fileName="${basedir}/logs/${shortdate}.txt" layout="[${shortdate} ${date:format=HH\:mm\:ss\:fff}] ${level}|${stacktrace} ${message}" />
        <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss}| --- ${message}" />
    </targets>
    <rules>
        <!--Skip non-critical Microsoft logs and so log only own logs (Blackhole) -->
        <logger name="Microsoft.*" maxlevel="Info" final="true" />
        <logger name="System.Net.Http.*" maxlevel="Info" final="true" />

        <!-- Auth Error spam (Blackhole) -->
        <logger name="Shoko.Server.API.Authentication.CustomAuthHandler" maxlevel="Info" final="true" />

        <logger name="*" minlevel="Info" writeTo="file" />
        <logger name="*" minlevel="Trace" writeTo="console" />
    </rules>
</nlog>