<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="JMMServer" />
    </extensions>
    <targets>
      <target name="file" xsi:type="File" fileName="${basedir}/logs/${shortdate}.txt"
              layout="[${shortdate} ${date:format=HH\:mm\:ss\:fff}] ${level}|${stacktrace} ${message}" />
      <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss}| --- ${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="file,console" />
    </rules>
  </nlog>

  <appSettings>
    <!-- <add key="DatabaseType" value="SQLServer" />-->
    <!-- <add key="DatabaseType" value="SQLite" />-->
    <!-- <add key="DatabaseType" value="MySQL" />-->
    <add key="JMMServerPort" value="8111" />
    <add key="DatabaseType" value="SQLServer" />
    <add key="SQLServer_DatabaseServer" value="localhost" />
    <add key="SQLServer_DatabaseName" value="JMMServer_142" />
    <add key="SQLServer_Username" value="jmm" />
    <add key="SQLServer_Password" value="jmm123" />
    <!-- <add key="SQLServer_DatabaseServer" value="localhost\sql2012exp" />
	<add key="SQLServer_DatabaseName" value="jmmserver_326" />
	<add key="SQLServer_Username" value="sa" />
	<add key="SQLServer_Password" value="omm123" />-->
    <add key="MySQL_Hostname" value="localhost" />
    <add key="MySQL_SchemaName" value="JMMServer_Test3" />
    <add key="MySQL_Username" value="root" />
    <add key="MySQL_Password" value="jmm123" />
    <add key="SQLite_DatabaseFile" value="" />
    <add key="AniDB_Username" value="jmmtesting" />
    <add key="AniDB_Password" value="jmmtesting123" />
    <add key="AniDB_ServerAddress" value="api.anidb.info" />
    <add key="AniDB_ServerPort" value="9000" />
    <add key="AniDB_ClientPort" value="4556" />
    <add key="AniDB_AVDumpClientPort" value="4557" />
    <add key="AniDB_AVDumpKey" value="jmediamanager123" />
    <!-- <add key="WebCache_Address" value="localhost:58168" />-->
    <!-- <add key="WebCache_Address" value="110.173.226.109" />-->
    <add key="WebCache_Address" value="omm.hobbydb.net.leaf.arvixe.com" />
    <add key="WebCache_Anonymous" value="false" />
    <add key="WebCache_FileHashes_Get" value="true" />
    <add key="WebCache_FileHashes_Send" value="true" />
    <add key="WebCache_XRefFileEpisode_Get" value="true" />
    <add key="WebCache_XRefFileEpisode_Send" value="true" />
    <add key="TvDB_AutoFanart" value="false" />
    <add key="TvDB_AutoFanartAmount" value="10" />
    <add key="TvDB_AutoWideBanners" value="false" />
    <add key="TvDB_AutoPosters" value="false" />
    <add key="MovieDB_AutoFanart" value="true" />
    <add key="MovieDB_AutoFanartAmount" value="3" />
    <add key="MovieDB_AutoPosters" value="true" />
    <add key="MovieDB_AutoPostersAmount" value="1" />
    <add key="DefaultSeriesLanguage" value="1" />
    <add key="AniDB_DownloadSimilarAnime" value="false" />
    <add key="AniDB_DownloadCharactersCreators" value="false" />
    <add key="AniDB_DownloadCharacters" value="false" />
    <add key="AniDB_DownloadCreators" value="false" />
    <add key="AniDB_DownloadReviews" value="false" />
    <add key="AniDB_DownloadReleaseGroups" value="false" />
    <add key="AniDB_DownloadRelatedAnime" value="true" />
    <add key="AniDB_MyList_AddFiles" value="true" />
    <add key="AniDB_MyList_StorageState" value="2" />
    <add key="AniDB_MyList_ReadWatched" value="true" />
    <add key="AniDB_MyList_ReadUnwatched" value="true" />
    <add key="AniDB_MyList_SetWatched" value="true" />
    <add key="AniDB_MyList_SetUnwatched" value="true" />
    <add key="DefaultEpisodeLanguage" value="1" />
    <add key="VideoExtensions" value="MKV,AVI,MP4,MOV,OGM,WMV,MPG,MPEG" />
    <add key="WatchForNewFiles" value="true" />
    <add key="RunImportOnStart" value="false" />
    <add key="Hash_CRC32" value="false" />
    <add key="Hash_MD5" value="false" />
    <add key="Hash_SHA1" value="false" />
    <add key="LanguagePreference" value="x-jat,en" />
    <add key="LanguageUseSynonyms" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Import_UseExistingFileWatchedStatus" value="true" />
    <add key="Trakt_Username" value="" />
    <add key="Trakt_Password" value="" />
    <add key="MAL_Username" value="jmediamanager" />
    <add key="MAL_Password" value="jmediamanager123" />
    <add key="Trakt_DownloadFanart" value="true" />
    <add key="Trakt_DownloadPosters" value="true" />
    <add key="Trakt_DownloadEpisodes" value="true" />
    <add key="VLCLocation" value="C:\Program Files (x86)\MPExtended\Service\Streaming\vlc-2.0.2\vlc.exe" />
    <add key="BaseImagesPathIsDefault" value="False" />
    <add key="BaseImagesPath" value="E:\JMM\[ User Full Setup ]\[ Consolidated Images ]" />
    <add key="WebCacheAuthKey" value="179A5373-02B9-419B-B0DD-5D886AEA2D4A" />
    <add key="Trakt_AuthToken" value="ac733deeb8674d5c0a5591c0630c3ff0f6a706b87b669ec927d46100b12fcad5" />
    <add key="Trakt_RefreshToken" value="bed21baec0b729861821504eba1711c2881c5e69189ca13c7c3991386d152764" />
    <add key="Trakt_TokenExpirationDate" value="1453074861" />
    <add key="Culture" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider"
             type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider"
             type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>