<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Nancy" version="1.4.3" targetFramework="net46" />
  <package id="Nancy.Authentication.Stateless" version="1.4.1" targetFramework="net46" />
  <package id="Nancy.Hosting.Self" version="1.4.1" targetFramework="net46" />
  <package id="Nancy.Serialization.JsonNet" version="1.4.1" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="Pri.LongPath" version="2.0.32" targetFramework="net46" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net46" />
  <package id="RestSharp" version="105.2.3" targetFramework="net46" />
  <package id="System.Data.SQLite.Core" version="1.0.101.0" targetFramework="net46" />
  <package id="TMDbLib" version="0.8.3" targetFramework="net46" />
</packages>