<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DeepCloner" version="0.9.3" targetFramework="net461" />
  <package id="FluentNHibernate" version="2.0.3.0" targetFramework="net461" />
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net461" />
  <package id="ILMerge" version="2.14.1208" targetFramework="net461" />
  <package id="Microsoft.SQLServer.SMO" version="12.0.2000.8" targetFramework="net46" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net461" />
  <package id="Nancy" version="1.4.3" targetFramework="net461" />
  <package id="Nancy.Authentication.Stateless" version="1.4.1" targetFramework="net46" />
  <package id="Nancy.Gzip" version="0.1.0" targetFramework="net461" />
  <package id="Nancy.Hosting.Self" version="1.4.1" targetFramework="net46" />
  <package id="Nancy.Serialization.JsonNet" version="1.4.1" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="NHibernate" version="4.0.4.4000" targetFramework="net461" />
  <package id="Nito.AsyncEx" version="3.0.1" targetFramework="net461" />
  <package id="NLog" version="4.3.9" targetFramework="net461" />
  <package id="Pri.LongPath" version="2.0.32" targetFramework="net46" />
  <package id="protobuf-net" version="2.1.0" targetFramework="net461" />
  <package id="RestSharp" version="105.2.3" targetFramework="net461" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.103" targetFramework="net461" />
  <package id="TaskScheduler" version="2.5.21" targetFramework="net46" />
  <package id="TMDbLib" version="0.8.3" targetFramework="net46" />
</packages>