<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
	  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.1.0" newVersion="3.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
   <appSettings>
    <add key="DatabaseType" value="SQLServer" />
    <add key="SQLServer_DatabaseServer" value="ASESIMAXTOR\SQLEXPRESS" />
    <add key="SQLServer_DatabaseName" value="JMMServer" />
    <add key="SQLServer_Username" value="sa" />
    <add key="SQLServer_Password" value="damnmax" />
    <add key="MySQL_Hostname" value="localhost" />
    <add key="MySQL_SchemaName" value="JMMServer" />
    <add key="MySQL_Username" value="root" />
    <add key="MySQL_Password" value="" />
    <add key="SQLite_DatabaseFile" value="" />
    <add key="AniDB_Username" value="damastermax" />
    <add key="AniDB_Password" value="tretit2" />
    <add key="AniDB_ServerAddress" value="api.anidb.info" />
    <add key="AniDB_ServerPort" value="9000" />
    <add key="AniDB_ClientPort" value="4556" />
    <add key="AniDB_AVDumpClientPort" value="4557" />
    <add key="AniDB_AVDumpKey" value="oxytot" />
    <add key="WebCache_Address" value="omm.hobbydb.net.leaf.arvixe.com" />
    <add key="WebCacheAuthKey" value="7379A95B-EEA5-4499-BE5E-DBA1FC6CC4A9" />
    <add key="WebCache_Anonymous" value="False" />
    <add key="WebCache_FileHashes_Get" value="True" />
    <add key="WebCache_FileHashes_Send" value="True" />
    <add key="WebCache_XRefFileEpisode_Get" value="True" />
    <add key="WebCache_XRefFileEpisode_Send" value="True" />
    <add key="WebCache_TvDB_Get" value="True" />
    <add key="WebCache_TvDB_Send" value="False" />
    <add key="TvDB_AutoFanart" value="True" />
    <add key="TvDB_AutoFanartAmount" value="20" />
    <add key="TvDB_AutoWideBanners" value="True" />
    <add key="TvDB_AutoPosters" value="True" />
    <add key="MovieDB_AutoFanart" value="True" />
    <add key="MovieDB_AutoFanartAmount" value="20" />
    <add key="MovieDB_AutoPosters" value="True" />
    <add key="DefaultSeriesLanguage" value="1" />
    <add key="AniDB_DownloadSimilarAnime" value="False" />
    <add key="AniDB_DownloadCharactersCreators" value="false" />
    <add key="AniDB_DownloadReviews" value="True" />
    <add key="AniDB_DownloadReleaseGroups" value="True" />
    <add key="AniDB_DownloadRelatedAnime" value="True" />
    <add key="AniDB_MyList_AddFiles" value="True" />
    <add key="AniDB_MyList_StorageState" value="2" />
    <add key="AniDB_MyList_ReadWatched" value="True" />
    <add key="AniDB_MyList_ReadUnwatched" value="True" />
    <add key="AniDB_MyList_SetWatched" value="True" />
    <add key="AniDB_MyList_SetUnwatched" value="True" />
    <add key="DefaultEpisodeLanguage" value="1" />
    <add key="VideoExtensions" value="MKV,AVI,MP4,MOV,OGM,WMV,MPG,MPEG,FLV" />
    <add key="WatchForNewFiles" value="true" />
    <add key="RunImportOnStart" value="False" />
    <add key="Hash_CRC32" value="True" />
    <add key="Hash_MD5" value="False" />
    <add key="Hash_SHA1" value="False" />
    <add key="LanguagePreference" value="x-jat,en" />
    <add key="LanguageUseSynonyms" value="True" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Import_UseExistingFileWatchedStatus" value="True" />
    <add key="Trakt_Username" value="mpiva" />
    <add key="Trakt_Password" value="duckman" />
    <add key="JMMServerPort" value="8111" />
    <add key="BaseImagesPathIsDefault" value="True" />
    <add key="AniDB_MyList_UpdateFrequency" value="4" />
    <add key="AniDB_Calendar_UpdateFrequency" value="3" />
    <add key="AniDB_Anime_UpdateFrequency" value="3" />
    <add key="AniDB_MyListStats_UpdateFrequency" value="4" />
    <add key="AniDB_File_UpdateFrequency" value="4" />
    <add key="WebCache_MAL_Get" value="True" />
    <add key="WebCache_MAL_Send" value="True" />
    <add key="WebCache_AniDB_File_Get" value="True" />
    <add key="WebCache_AniDB_File_Send" value="True" />
    <add key="TvDB_UpdateFrequency" value="4" />
    <add key="TvDB_Language" value="en" />
    <add key="AutoGroupSeries" value="True" />
    <add key="ScanDropFoldersOnStart" value="False" />
    <add key="EpisodeTitleSource" value="1" />
    <add key="SeriesDescriptionSource" value="1" />
    <add key="SeriesNameSource" value="1" />
    <add key="Trakt_UpdateFrequency" value="4" />
    <add key="Trakt_SyncFrequency" value="1" />
    <add key="MAL_Username" value="mpiva" />
    <add key="MAL_Password" value="duckman" />
    <add key="MAL_UpdateFrequency" value="4" />
    <add key="MAL_NeverDecreaseWatchedNums" value="True" />
    <add key="AniDB_DownloadCharacters" value="True" />
    <add key="AniDB_DownloadCreators" value="True" />
    <add key="TvDB_AutoPostersAmount" value="1" />
    <add key="TvDB_AutoWideBannersAmount" value="1" />
    <add key="MovieDB_AutoPostersAmount" value="1" />
    <add key="Trakt_DownloadEpisodes" value="True" />
    <add key="Trakt_DownloadFanart" value="True" />
    <add key="Trakt_DownloadPosters" value="True" />
    <add key="AniDB_MyList_DeleteType" value="0" />
    <add key="JMMServerFilePort" value="8112" />
    <add key="WebCache_Trakt_Get" value="False" />
    <add key="WebCache_Trakt_Send" value="False" />
    <add key="WebCache_UserInfo" value="True" />
    <add key="Trakt_IsEnabled" value="True" />
    <add key="Trakt_AuthToken" value="7bce23d067f956ba82e1fbc0189b904d01f2960c7a8ae0e7a84833a5e8340237" />
    <add key="Trakt_RefreshToken" value="9312b1ec035fc77350e7c9cfe0ebff670aa2c48902ca79521f3cd210380e9e5a" />
    <add key="Trakt_TokenExpirationDate" value="1448163400" />
  </appSettings>
</configuration>