<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EnterpriseLibrary.TransientFaultHandling" version="6.0.1304.0" targetFramework="net46" />
  <package id="EnterpriseLibrary.TransientFaultHandling.Data" version="6.0.1304.1" targetFramework="net46" />
  <package id="RavenDB.Client" version="3.0.3800" targetFramework="net46" />
  <package id="RavenDB.Database" version="3.0.3800" targetFramework="net46" />
  <package id="RavenDB.Embedded" version="3.0.3800" targetFramework="net46" />
</packages>