<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  
  <appSettings>
    <add key="FirstRun" value="true" />
    <add key="DatabaseType" value="SQLite" />
    <add key="SQLServer_DatabaseServer" value="localhost" />
    <add key="SQLServer_DatabaseName" value="" />
    <add key="SQLServer_Username" value="" />
    <add key="SQLServer_Password" value="" />
    <add key="MySQL_Hostname" value="localhost" />
    <add key="MySQL_SchemaName" value="" />
    <add key="MySQL_Username" value="" />
    <add key="MySQL_Password" value="" />
    <add key="SQLite_DatabaseFile" value="" />
    <add key="AniDB_Username" value="" />
    <add key="AniDB_Password" value="" />
    <add key="AniDB_ServerAddress" value="api.anidb.info" />
    <add key="AniDB_ServerPort" value="9000" />
    <add key="AniDB_ClientPort" value="4556" />
    <add key="AniDB_AVDumpClientPort" value="4557" />
    <add key="AniDB_AVDumpKey" value="" />
    <add key="WebCache_Address" value="omm.hobbydb.net.leaf.arvixe.com" />
    <add key="WebCache_Anonymous" value="false" />
    <add key="WebCache_FileHashes_Get" value="true" />
    <add key="WebCache_FileHashes_Send" value="true" />
    <add key="WebCache_XRefFileEpisode_Get" value="true" />
    <add key="WebCache_XRefFileEpisode_Send" value="true" />
    <add key="WebCache_TvDB_Get" value="true" />
    <add key="WebCache_TvDB_Send" value="false" />
    <add key="TvDB_AutoFanart" value="true" />
    <add key="TvDB_AutoFanartAmount" value="10" />
    <add key="TvDB_AutoWideBanners" value="true" />
    <add key="TvDB_AutoPosters" value="true" />
    <add key="MovieDB_AutoFanart" value="true" />
    <add key="MovieDB_AutoFanartAmount" value="10" />
    <add key="MovieDB_AutoPosters" value="true" />
    <add key="DefaultSeriesLanguage" value="1" />
    <add key="AniDB_DownloadSimilarAnime" value="false" />
    <add key="AniDB_DownloadCharactersCreators" value="false" />
    <add key="AniDB_DownloadReviews" value="false" />
    <add key="AniDB_DownloadReleaseGroups" value="false" />
    <add key="AniDB_DownloadRelatedAnime" value="true" />
    <add key="AniDB_MyList_AddFiles" value="true" />
    <add key="AniDB_MyList_StorageState" value="2" />
    <add key="AniDB_MyList_ReadWatched" value="true" />
    <add key="AniDB_MyList_ReadUnwatched" value="true" />
    <add key="AniDB_MyList_SetWatched" value="true" />
    <add key="AniDB_MyList_SetUnwatched" value="true" />
    <add key="DefaultEpisodeLanguage" value="1" />
    <add key="VideoExtensions" value="MKV,AVI,MP4,MOV,OGM,WMV,MPG,MPEG,MK3D,M4V" />
    <add key="WatchForNewFiles" value="true" />
    <add key="RunImportOnStart" value="false" />
    <add key="Hash_CRC32" value="false" />
    <add key="Hash_MD5" value="false" />
    <add key="Hash_SHA1" value="false" />
    <add key="LanguagePreference" value="x-jat,en" />
    <add key="LanguageUseSynonyms" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Import_UseExistingFileWatchedStatus" value="true" />
    <add key="Trakt_Username" value="" />
    <add key="Trakt_Password" value="" />
    <add key="Culture" value="" />
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="Shoko.Server" />
    </extensions>
    <targets>
      <target name="file" xsi:type="File" fileName="${basedir}/logs/${shortdate}.txt" layout="[${shortdate} ${date:format=HH\:mm\:ss\:fff}] ${level}|${stacktrace} ${message}" />
      <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss}| --- ${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="file" />
      <logger name="*" minlevel="Trace" writeTo="console" />
    </rules>
  </nlog>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.Tracing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
    <!-- Uncomment the next line for Server Garbage collection (https://tinyurl.com/ycutyo6p)
    <gcServer enabled="true"/>
    -->
  </runtime>
</configuration>
