name: Build CLI - Framework Dependent

on:
  push:
    branches: [ master ]
#   pull_request:
#     branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        dotnet: [ '5.0.x' ]

    name: Shoko CLI Framework Dependent build

    steps:
      - uses: actions/checkout@master
        with:
          submodules: recursive
      - name: Setup dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ matrix.dotnet }}
#       - run: sudo apt-get update
#       - run: sudo apt-get install libicu60
      - run: dotnet restore Shoko.CLI
      - run: dotnet publish -c Release --no-self-contained Shoko.CLI
      - uses: actions/upload-artifact@v2
        with:
          name: CLI-Framework-Dependent
          path: Shoko.Server/bin/Release/net5.0/publish/
